//JQuery
script(src="/plugins/JQuery/jquery-3.2.1.js")

//Semantic Ui
script(src="/plugins/Semantic-UI-2.2/semantic.js")

//nice scroll
script(src="/plugins/nicescrool/jquery.nicescroll.js")


//lobibox
script(src="/plugins/lobibox/dist/js/lobibox.js")


//golgi
//custom-elements
script(src="/plugins/golgi/elements/custom-sidebar.js")
script(src="/plugins/golgi/app.js")

//Dropzone
script(src="/plugins/dropzone/dropzone.js")

//own scripts
script(src="/js/indexScript.js")

