div(class='ui visible left vertical sidebar menu no-border sidemenu')
    a(class='ui medium image borderless', href='#')
        img(src='/img/bg/3.png')
    a(class='item')
        b Main

    div(class='ui accordion')

        div(class='title')
            i(class='dropdown icon')
            | Acciones Rápidas
        div(class='content')
            a(class='item', href='/tenis/create')
                | Agregar Tenis
                i(class='plus icon')

        div(class='title')
            i(class='dropdown icon')
            |Apps
        div(class='content')
            a(class='item', href='#')
                | Inbox
            a(class='item', href='#')
                | Mailbox

        div(class='title')
            i(class='dropdown icon')
            | Layouts
        div(class='content')
            a(class='item', href="#")
                | Sidebar
            a(class='item', href="#")
                | Nav

        a(class='item')
            b Help
        a(class='item', href='#')
            i(class='question icon')
            |  Documentation
        a(class='item')
            div(class='ui red empty circular label')
            |Important
