//Semantic Ui
link(rel='stylesheet' href="/plugins/Semantic-UI-2.2/semantic.css")

//golgo
link(rel='stylesheet' href="/plugins/golgi/css/main.css")

//lobibox
link(rel='stylesheet' href='/plugins/lobibox/dist/css/lobibox.css')

//radio slider
link(rel='stylesheet' href='/plugins/radioslider/radios-to-slider.css')

//Dropzone
link(rel='stylesheet' href='/plugins/dropzone/dropzone.css')

//fluidbox
link(href="/plugins/fluidbox/dist/css/fluidbox.min.css" rel="stylesheet")

//sweet alerts
link(href="/plugins/sweetalert/sweetalert.css" rel="stylesheet")

//own styles
link(rel='stylesheet' href="/css/app.css")



