extends shared/layout

block content
    button.ui.button.green.not(data-animation='', data-image='/img/avatar/people/carol.png', data-type='success', data-size='normal', data-message='This is default notification')
        | Success Notification with Image
