/*Tag*/
body {
    background: slategray;
}

/*ID*/
#divDrag {
    display: none;
}

#fotos-referencias img {
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#fotos-referencias {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*Class*/
.sidemenu {
    top: 61px !important;
}

.statistic .value i {
    padding-right: .2em;
    padding-bottom: 1.1em;
}

.see-all {
    padding-left: .5em;
}

.no-background, .no-background .ui.segment {
    background: transparent;
    color: white;
}

.no-background .ui.segment .header {
    color: #d1ecff;
}

.top-space {
    padding-top: 10px;
}

.reference-fields .ui.list .item, .rigth-space {
    padding-right: 2em;
}

.left-space {
    padding-left: 2em;
}